[submodule "external_libs/source/pmgui"]
	path = external_libs/source/pmgui
	url = https://github.com/SSBMTonberry/pmgui.git
[submodule "external_libs/source/sfml"]
	path = external_libs/source/sfml
	url = https://github.com/SSBMTonberry/SFML.git